//#region Variables

:root {
  --keyboard-color: whitesmoke;

  --key-color: #3a424e;
  --key-color_special: #292f37;
  --key-font-color: whitesmoke;
  --key-color_active: #93a9ca;
  --key-color_pressed: #5a687e;
  --key-font-color_active: #121212;
}

//#endregion Variables

//#region Reset

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  transition: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
}

//#endregion Reset

//#region General

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

//#endregion General

//#region Keyboard

.keyboard {
  width: clamp(768px, 100%, 850px);
  height: fit-content;
  padding: .4em;

  background-color: var(--keyboard-color);
  border: .2rem solid;
  border-radius: 1em;

  font-size: 1.5rem;

  &__keys {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
  }

  &__row {
    display: flex;
    width: 100%;
    gap: .25em;
  }

  &__key {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 2em;
    width: 2em;

    border-radius: .5em;
    background-color: var(--key-color);
    color: var(--key-font-color);

    box-shadow: .1em .1em .02em rgba($color: #292f37, $alpha: 1),
      .1em .1em .5em rgba($color: #292f37, $alpha: .5);

    font-family: Arial,
      Helvetica,
      sans-serif;

    transition: .2s ease;

    cursor: pointer;

    &:hover,
    &:active,
    &.click {
      background-color: var(--key-color_active) !important;
      color: var(--key-font-color_active) !important;
    }

    &:active,
    &.click {
      box-shadow: .04em .04em .00em rgba($color: #292f37, $alpha: 1), .1em .1em .5em rgba($color: #292f37, $alpha: .5);

      &::before,
      &::after {
        transform: scale(.9);
      }
    }

    &.pressed,
    &.icon.pressed {
      background-color: var(--key-color_pressed);
      box-shadow: .04em .04em .00em rgba($color: #292f37, $alpha: 1), .1em .1em .5em rgba($color: #292f37, $alpha: .5);
    }

    &::before {
      content: attr(data-key);
    }

    &::after {
      content: attr(data-alt-key);
      display: table-cell;
      vertical-align: middle;
      position: absolute;
      font-size: .5em;
      top: .25em;
      left: 0;
      width: 1.5em;
      height: 1em;
      text-align: center;
      transform-origin: bottom right;
    }

    &.icon {
      background-color: var(--key-color_special);

      &-font {
        font-family: "Material Icons Round";
      }
    }

    &_wide {
      flex-grow: 1;
    }

    &_extra-wide {
      flex-grow: 5;
    }
  }
}

//#endregion Keyboard

//#region Other

.textarea {
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

//#endregion Other